---

- name: Install ntp
  apt: name=chrony update_cache=yes cache_valid_time=3600

- name: copy hosts file
  template: src=hosts.j2 dest=/etc/hosts

- name: install software-properties-common
  apt: name=software-properties-common

- name: enable openstack repository
  command: apt-add-repository cloud-archive:liberty -y

- name: upgrade packages
  apt: update_cache=yes upgrade=dist

- name: Install the OpenStack client
  apt: name=python-openstackclient update_cache=yes cache_valid_time=3600


