{% set ha_proxy_address = hostvars[inventory_hostname]['ansible_' + api_interface]['ipv4']['address'] %}
global
  daemon
  log 127.0.0.1 local2
  maxconn 4000
  stats socket /var/lib/kolla/haproxy/haproxy.sock

defaults
  log global
  mode http
  option httplog
  option forwardfor
  retries 3
  timeout http-request 10s
  timeout queue 1m
  timeout connect 10s
  timeout client 1m
  timeout server 1m
  timeout check 10s

listen keystone_internal
  bind {{ ha_proxy_address }}:5000
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:5000 check inter 2000 rise 2 fall 5
{% endfor %}

listen keystone_admin
  bind {{ ha_proxy_address }}:35357
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:35357 check inter 2000 rise 2 fall 5
{% endfor %}

listen glance_registry
  bind {{ ha_proxy_address }}:9191
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:9191 check inter 2000 rise 2 fall 5
{% endfor %}

listen glance_api
  bind {{ ha_proxy_address }}:9292
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:9292 check inter 2000 rise 2 fall 5
{% endfor %}

listen nova_api
  bind {{ ha_proxy_address }}:8774
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:8774 check inter 2000 rise 2 fall 5
{% endfor %}

listen nova_api_ec2
  bind {{ ha_proxy_address }}:8773
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:8773 check inter 2000 rise 2 fall 5
{% endfor %}

listen nova_metadata
  bind {{ ha_proxy_address }}:8775
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:8775 check inter 2000 rise 2 fall 5
{% endfor %}

listen nova_novncproxy
  bind {{ ha_proxy_address }}:6080
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:6080 check inter 2000 rise 2 fall 5
{% endfor %}

listen neutron_server
  bind {{ ha_proxy_address }}:9696
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:9696 check inter 2000 rise 2 fall 5
{% endfor %}

listen cinder_api
  bind {{ ha_proxy_address }}:8776
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:8776 check inter 2000 rise 2 fall 5
{% endfor %}

listen heat_api
  bind {{ ha_proxy_address }}:8004
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:8004 check inter 2000 rise 2 fall 5
{% endfor %}

listen heat_api_cfn
  bind {{ ha_proxy_address }}:8000
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:8000 check inter 2000 rise 2 fall 5
{% endfor %}

listen horizon
  bind {{ ha_proxy_address }}:80
  http-request del-header X-Forwarded-Proto
{% for host in groups['controller'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:80 check inter 2000 rise 2 fall 5
{% endfor %}
